*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
     width: 100vw;
    height: 100vh;
    background-color: rgb(228, 228, 228);
    /* display: flex; */
} 
.logo{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.logo i{
    cursor: pointer;
    width: 20px;
    font-size: 22px;
}
.sidebar{
    width: 250px;
    height: 100%;
    /* padding: 20px; */
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.sidebar-items{
    margin: 0 0 0 -1.1rem;
    padding: 0 20px;
    align-items: center;
}
.items i{
    margin-left: 0px;
    align-items: flex-start;
}
.sidebar ul li ,a{
    list-style: none;
    margin-top: 1.3rem;
    color: grey;
    padding: 0.4rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.sidebar ul li a{ 
    text-decoration: none;
    width: 100%;
}
.sidebar-items i{
    margin-right: 14px;
}

.sidebar button{
    display: flex;
    margin: 1.5rem 0 0 1rem;
    width: 6rem;
    gap: 4px;
    padding: 0.6rem;
    font-size: .9rem;
    align-items: center;
    text-align: center;
    outline: none;
    border: none;
    color: #fff;
    background-color: #001858;
    border-radius: 0.3rem;
    cursor: pointer;
}
ul li:hover {
    background: rgb(235, 235, 235);
    padding: 0.4rem;
    width: 100%;
    border-radius: 0 .3rem .3rem 0;
    border-left: 2px solid #001858 ;
}
ul li a:hover {
    color: #001858;
}
button:active{
    background-color: #110a0a;
}

